@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header-color {
  background-color: #264653;
}

.head-text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.head-text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

.head-text button {
  background-color: #e76f51;
  border-radius: 5px;
  color: #ffffff;
}

.modal-content {
  background-color: #39525c;
  color: #ffffff;
}

.card-img-top {
  filter: grayscale(1);
}

.feature-text h1,
.customer-text h1,
.faq-text h1,
.service-text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

.feature-text small,
.customer-text span,
.faq-text span,
.service-text span {
  color: #e76f51;
}

.customer-card {
  background-color: #294b585e;
}

.customer-card p {
  color: #fffbfb;
}

.medium-icon > div > p {
  color: #d4d4d4;
}

.service-cover {
  background-color: #5d6c72;
}

.star-icon i {
  color: #e76f51;
}

.medium-icon img {
  background-color: #d9b9ac;
  filter: brightness(1) invert(1);
}

.last-section {
  background-color: #aaaaaa;
  background-size: cover;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 47%, 0% 0%);
}

.login {
  background-color: #e76f51;
}

.accordion-item {
  background: #eeb3a4;
}

.accordion-button.collapsed {
  background: #e48269;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
